@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.gstatic.com/s/inter/v4/UcC76YfYHzclF-86Kg1g5-4n.woff2")
    format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.gstatic.com/s/inter/v4/UcC76YfYHzclF-86Kg1g5-4p.woff2")
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD_vx3rCs.woff2")
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhzg.woff2")
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3gnD_vx3rCs.woff2")
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gnD_vx3rCs.woff2")
    format("woff2");
}
body {
  font-family: "Montserrat" sans-serif;
  color: #000;
  background-color: #ffffff;
}
:root {
  --pink: #e86f54;
  --pink-hover: #e25b41;
  --pink-focus: #fa6f54;
  --mint: #3cbc81;
  --carmine: #e74a3b;
  --onyx: #111111;
  --carbon: #5c5c5c;
  --iron: #d7d7d7;
  --night: #060606;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .delivery-section {
    background-color: #fff;
    padding: 60px 0px;
  }
  .list {
    list-style: none;
  }
  .delivery-title {
    color: #000;
    font-family: "Montserrat" sans-serif;
    font-size: 24px;

    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  .delivery-line-title {
    width: 100%;
    margin-left: 14px;
    height: 1px;
    color: black;
  }
  .delivery-title-position {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 45px;
  }
  .delivery-svg-ellipse {
    fill: #fff;
    stroke-width: 1px;
    stroke: #000;
    margin-right: 8px;
    width: 40px;
    height: 40px;
  }
  .delivery-order-list {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
  }
  .delivery-order-number {
    display: flex;

    align-items: center;
  }
  .delivery-svg-position {
    position: relative;
  }
  .number-in-svg {
    position: absolute;
    top: 8px;
    left: 16px;

    color: #000;

    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }
  .img {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .delivery-image-position {
    margin-top: 26px;
  }
  .delivery-article {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 232px;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .container {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .delivery-section {
    background-color: #fff;
    padding: 100px 0px;
  }
  .list {
    list-style: none;
  }
  .delivery-title {
    font-size: 44px;
    color: #000;
    font-family: "Montserrat" sans-serif;

    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  .delivery-line-title {
    width: 100%;
    margin-left: 16px;

    height: 1px;
    color: black;
  }
  .delivery-title-position {
    margin-bottom: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .delivery-svg-ellipse {
    margin-right: 8px;
    width: 64px;
    height: 64px;
    fill: #fff;
    stroke-width: 1px;
    stroke: #000;
  }
  .delivery-order-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .delivery-order-number {
    display: flex;

    align-items: center;
  }
  .delivery-svg-position {
    position: relative;
  }
  .number-in-svg {
    position: absolute;
    top: 16px;
    left: 23px;

    color: #000;

    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
  }
  .img {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .delivery-image-position {
    margin-top: 40px;
  }

  .delivery-article {
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 544px;
    margin-left: 20px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .delivery-section {
    background-color: #fff;
    padding: 100px 0px;
  }
  .list {
    list-style: none;
  }
  .delivery-title {
    font-size: 44px;
    color: #000;
    font-family: "Montserrat" sans-serif;

    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  .delivery-line-title {
    width: 100%;
    margin-left: 16px;

    height: 1px;
    color: black;
  }
  .delivery-title-position {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .delivery-svg-ellipse {
    width: 64px;
    height: 64px;
    fill: #fff;
    stroke-width: 1px;
    stroke: #000;
  }
  .delivery-order-list {
    display: flex;
    flex-direction: column;
    row-gap: 52px;
    margin-left: 96px;
  }
  .delivery-order-number {
    display: flex;

    align-items: center;
  }
  .delivery-svg-position {
    position: relative;
  }
  .number-in-svg {
    position: absolute;
    top: 16px;
    left: 27px;

    color: #000;

    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
  }
  .img {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .delivery-image-position {
    margin-top: 69px;
  }

  .delivery-article {
    color: #000;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    max-width: 855px;
    margin-left: 56px;
  }
}
