@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.gstatic.com/s/inter/v4/UcC76YfYHzclF-86Kg1g5-4n.woff2")
    format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.gstatic.com/s/inter/v4/UcC76YfYHzclF-86Kg1g5-4p.woff2")
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD_vx3rCs.woff2")
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhzg.woff2")
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3gnD_vx3rCs.woff2")
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gnD_vx3rCs.woff2")
    format("woff2");
}
body {
  font-family: "Montserrat" sans-serif;
  color: #000;
  background-color: #ffffff;
}
:root {
  --pink: #e86f54;
  --pink-hover: #e25b41;
  --pink-focus: #fa6f54;
  --mint: #3cbc81;
  --carmine: #e74a3b;
  --onyx: #111111;
  --carbon: #5c5c5c;
  --iron: #d7d7d7;
  --night: #060606;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .delivery-section {
    background-color: #fff;
    padding: 120px 0;
  }
  .container {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .list {
    list-style: none;
  }
  .delivery-title {
    color: #000;
    font-family: "Montserrat" sans-serif;
    font-size: 24px;

    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  .delivery-line-title {
    width: 60%;
    margin-left: 14px;
    height: 2px;
    color: #000;
  }
  .delivery-title-position {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
    margin-bottom: 70px;
  }
  .delivery-svg-ellipse {
    fill: #fff;
    stroke-width: 1px;
    stroke: #000;
  }
}
